<figure class="row blog-banner-rodape">
  {% if link %}
    <a href="{{link}}" title="{{title}}" target="_blank">
    	<img class="u-max-full-width" src="{{imagem}}" alt="{{title}}" title="{{title}}">
    </a>
  {% else %}
    <img class="u-max-full-width" src="{{imagem}}" alt="{{title}}" title="{{title}}">
  {% endif %}  
</figure>