<div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

  <div data-ls_id="#home-contato" class="vc_row wpb_row vc_row-fluid vc_custom_1444182016569">

      <div class="container center-row clr">

          <div class="wpex-vc-columns-wrap clr">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner wpex-clr">
                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                          <div class="wpb_text_column wpb_content_element ">
                              <div class="wpb_wrapper">
                                <p style="text-align: center;"><span style="font-size: 24px;">CONTATO</span></p>
                              </div>
                          </div>
                          <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;border-top-width:3px;border-color:#ef5c32;"></div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- .wpex-vc-columns-wrap -->

      </div>
      <!-- .container -->



  </div>


</div>
<!-- .wpex-vc-row-wrap -->



<div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

  <div class="vc_row wpb_row vc_row-fluid vc_custom_1441587485851">

      <div class="container center-row clr">

          <div class="wpex-vc-columns-wrap clr">
              <div class="wpb_column vc_column_container vc_col-sm-3">
                  <div class="vc_column-inner wpex-clr">
                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                          <div class="wpb_text_column wpb_content_element ">
                              <div class="wpb_wrapper">
                                  <p><span style="font-size: 18px;">ONDE NOS ENCONTRAR</span></p>
                                  <p>
                                    <em>Rua Dr. Carvalho Chaves, 1556</em><br />
                                    <em>Parolin - Curitiba - Paraná</em>
                                    </p>

                              </div>
                          </div>

                          <div class="vcex-spacing" style="height:25px"></div>
                          <div class="vcex-list_item">
                            {% if site.acf.telefone_1 %}
                              <div class="vcex-icon-wrap" style="color:#ef5c32;"><span class="fa fa-phone"></span></div>{{site.acf.telefone_1}}<br>
                            {% endif %}
                            {% if site.acf.telefone_2 %}
                              <div class="vcex-icon-wrap" style="color:#ef5c32;"><span class="fa fa-phone"></span></div>{{site.acf.telefone_2}}<br>
                            {% endif %}
                          </div>
                          <!-- .vcex-list_item -->
                          <div class="vcex-spacing" style="height:5px"></div>
                          <div class="vcex-list_item">
                            {% if site.acf.celular_1 %}
                              <div class="vcex-icon-wrap" style="color:#ef5c32;"><span class="fa fa-whatsapp"></span></div>{{site.acf.celular_1}}
                            {% endif %}
                            {% if site.acf.celular_2 %}
                              <br><div class="vcex-icon-wrap" style="color:#ef5c32;"><span class="fa fa-whatsapp"></span></div>{{site.acf.celular_2}}
                            {% endif %}
                          </div>
                          <!-- .vcex-list_item -->
                          <div class="vcex-spacing" style="height:5px"></div>
                          <div class="vcex-list_item">
                            <div class="vcex-icon-wrap" style="color:#ef5c32;"><span class="fa fa-envelope"></span></div>{{site.acf.email}}
                          </div>
                          <!-- .vcex-list_item -->
                          <div class="vcex-spacing" style="height:25px"></div>
                          <div class="wpex-social-btns" style="font-size:13px;">


                            {% if site.acf.link_twitter %}
                              <a href="{{site.acf.link_twitter}}" target="_blank" class="wpex-social-btn wpex-social-btn-flat wpex-semi-rounded wpex-twitter"><span class="fa fa-twitter"></span></a>
                            {% endif %}

                            {% if site.acf.link_facebook %}
                              <a href="{{site.acf.link_facebook}}" target="_blank" class="wpex-social-btn wpex-social-btn-flat wpex-semi-rounded wpex-facebook"><span class="fa fa-facebook-square"></span></a>
                            {% endif %}

                            <a href="mailto:{{site.acf.email}}" class="wpex-social-btn wpex-social-btn-flat wpex-semi-rounded wpex-email"><span class="fa fa-envelope"></span></a>



                          </div>
                          <!-- .wpex-social-btns -->
                      </div>
                  </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-9">
                  <div class="vc_column-inner wpex-clr">
                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                          {{ fn('do_shortcode', '[contact-form-7 id="33" title="Contato"]') }}
                      </div>
                  </div>
              </div>
          </div>
          <!-- .wpex-vc-columns-wrap -->

      </div>
      <!-- .container -->



  </div>


</div>
<!-- .wpex-vc-row-wrap -->