<div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

  <div data-ls_id="#home-projetos" class="vc_row wpb_row vc_row-fluid vc_custom_1444182009583">

    <div class="container center-row clr">

        <div class="wpex-vc-columns-wrap clr">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner wpex-clr">
                    <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                        <h2 style="font-size: 32px;text-align: center;font-family:Roboto Slab;font-weight:400;font-style:normal" class="vc_custom_heading">{{site.acf.projetos_titulo}}</h2>
                        <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;margin-bottom:25px;border-top-width:3px;border-color:#ef5c32;"></div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">{{site.acf.projetos_conteudo}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .wpex-vc-columns-wrap -->

      </div>
      <!-- .container -->
  </div>
</div>
<!-- .wpex-vc-row-wrap -->


<div class="wpex-vc-row-wrap clr">

  <div class="vc_row wpb_row vc_row-fluid">


      <div class="wpex-vc-columns-wrap clr">
          <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner wpex-clr">
                  <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                      <div class="wpex-carousel wpex-carousel-images clr owl-carousel no-margins" data-items="5" data-slideby="1" data-nav="false" data-dots="true" data-autoplay="false" data-loop="true" data-autoplay-timeout="5000" data-center="false" data-margin="0" data-items-tablet="3" data-items-mobile-landscape="2" data-items-mobile-portrait="1" data-smart-speed="150">
                        {% for item in site.acf.projetos_galeria %}
                          <div class="wpex-carousel-slide">

                              <div class="wpex-carousel-entry-media clr image-filter-grayscale">
                                  <a href="{{item.url}}" title="photo1" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                      <img src="{{item.sizes.medium}}" width="500" height="400" alt="Photo1" /> </a>
                              </div>
                              <!-- .wpex-carousel-entry-media -->

                          </div>
                          <!-- .wpex-carousel-slide -->
                        {% endfor %}
                      </div>
                      <!-- .wpex-carousel -->


                  </div>
              </div>
          </div>
      </div>
      <!-- .wpex-vc-columns-wrap -->




  </div>


</div>
<!-- .wpex-vc-row-wrap -->


<div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

  <div class="vc_row wpb_row vc_row-fluid" style="padding-top: 50px;padding-bottom: 50px;">

      <div class="container center-row clr">

          <div class="wpex-vc-columns-wrap clr">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner wpex-clr">
                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                          <div class="textcenter theme-button-wrap clr">
                              <a href="{{site.acf.link_facebook}}" class="vcex-button theme-button outline small align-center animate-on-hover" title="More On Dribbble" style="font-size:16px;font-weight:400;letter-spacing:1.5px;" target="_blank" rel="nofollow">
                                  <span class="theme-button-inner">FIQUE ATUALIZADO COM NOSSO FACEBOOK !</span>
                                  <!-- .theme-button-inner -->
                              </a>
                              <!-- vcex-button theme-button outline small align-center animate-on-hover -->
                          </div>
                          <!-- textcenter theme-button-wrap clr -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- .wpex-vc-columns-wrap -->

      </div>
      <!-- .container -->
  </div>
</div>
<!-- .wpex-vc-row-wrap -->