{% import 'views/macros.twig' as macros %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]--> <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]--> <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ fn('wp_title') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

  {# Favicons
  ================================================== #}
  <link rel="shortcut icon" href="{{ site.theme.link }}/assets/img/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/assets/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.theme.link }}/assets/img/favicon/manifest.json">
  <link rel="mask-icon" href="{{ site.theme.link }}/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{ site.theme.link }}/assets/img/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel='stylesheet' id='js_composer_front-css'  href='http://totaltheme.wpengine.com/freelancer/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=4.11.1' type='text/css' media='all' />
  <link rel='stylesheet' id='wpex-font-awesome-css'  href='http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/css/lib/font-awesome.min.css?ver=4.3.0' type='text/css' media='all' />
  <link rel='stylesheet' id='wpex-style-css'  href='http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/style.css?ver=3.3.5' type='text/css' media='all' />
  <link rel='stylesheet' id='wpex-google-font-roboto-css'  href='//fonts.googleapis.com/css?family=Roboto%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic&#038;subset=latin&#038;ver=4.4.2' type='text/css' media='all' />
  <link rel='stylesheet' id='wpex-google-font-roboto-slab-css'  href='//fonts.googleapis.com/css?family=Roboto+Slab%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic&#038;subset=latin&#038;ver=4.4.2' type='text/css' media='all' />
  <link rel='stylesheet' id='wpex-visual-composer-css'  href='http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/css/wpex-visual-composer.css?ver=3.3.5' type='text/css' media='all' />
  <link rel='stylesheet' id='wpex-visual-composer-extend-css'  href='http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/css/wpex-visual-composer-extend.css?ver=3.3.5' type='text/css' media='all' />
  <link rel='stylesheet' id='wpex-responsive-css'  href='http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/css/wpex-responsive.css?ver=3.3.5' type='text/css' media='all' />

  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/css/ie8.css" media="screen"><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" type="text/css" href="http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/css/ie9.css" media="screen"><![endif]-->
  <!--[if lt IE 9]><script src="http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/js/html5.js"></script><![endif]-->

  <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://totaltheme.wpengine.com/freelancer/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
  <!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://totaltheme.wpengine.com/freelancer/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]-->

  <style type="text/css" data-type="vc_shortcodes-custom-css">
  .vc_custom_1444181465454{padding-top: 100px !important;padding-bottom: 100px !important;background: #000000 url(http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/chair-d.jpg?id=37) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1444181632261{padding-top: 60px !important;padding-bottom: 70px !important;}.vc_custom_1444182003655{padding-top: 60px !important;padding-bottom: 70px !important;}.vc_custom_1444182009583{padding-top: 60px !important;padding-bottom: 70px !important;}.vc_custom_1444182072304{margin-bottom: 20px !important;padding-top: 60px !important;}.vc_custom_1444182103005{padding-top: 75px !important;background: #777777 url(http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/coffee-d.jpg?id=36) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1444182016569{padding-top: 60px !important;padding-bottom: 20px !important;}.vc_custom_1441587485851{padding-bottom: 25px !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript><!-- Google Analytics Tracking Code --><script>!function(e,a,t,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(t),s=a.getElementsByTagName(t)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-71858554-1","auto"),ga("send","pageview");</script>
  <!-- TOTAL CSS -->
  <style type="text/css">
  /*ACCENT COLOR*/.wpex-carousel-woocommerce .wpex-carousel-entry-details,a,.wpex-accent-color,#site-navigation .dropdown-menu a:hover,#site-navigation .dropdown-menu >.current-menu-item >a,#site-navigation .dropdown-menu >.current-menu-parent >a,h1 a:hover,h2 a:hover,a:hover h2,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.entry-title a:hover,.modern-menu-widget a:hover,.theme-button.outline,.theme-button.clean{color:#ef5c32}.vcex-skillbar-bar,.vcex-icon-box.style-five.link-wrap:hover,.vcex-icon-box.style-four.link-wrap:hover,.vcex-recent-news-date span.month,.vcex-pricing.featured .vcex-pricing-header,.vcex-testimonials-fullslider .sp-button:hover,.vcex-testimonials-fullslider .sp-selected-button,.vcex-social-links a:hover,.vcex-testimonials-fullslider.light-skin .sp-button:hover,.vcex-testimonials-fullslider.light-skin .sp-selected-button,.vcex-divider-dots span,.wpex-accent-bg,.background-highlight,input[type="submit"],.theme-button,button,.theme-button.outline:hover,.active .theme-button,.theme-button.active,#main .tagcloud a:hover,.post-tags a:hover,.wpex-carousel .owl-dot.active,.navbar-style-one .menu-button >a >span.link-inner,.wpex-carousel .owl-prev,.wpex-carousel .owl-next,body #header-two-search #header-two-search-submit,.theme-button:hover,.modern-menu-widget li.current-menu-item a,#wp-calendar caption,#site-scroll-top:hover,input[type="submit"]:hover,button:hover,.wpex-carousel .owl-prev:hover,.wpex-carousel .owl-next:hover,#site-navigation .menu-button >a >span.link-inner,#site-navigation .menu-button >a >span.link-inner:hover,.navbar-style-six .dropdown-menu >.current-menu-item >a,.navbar-style-six .dropdown-menu >.current-menu-parent >a{background-color:#ef5c32}.vcex-heading-bottom-border-w-color{border-bottom-color:#ef5c32}.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a{border-bottom-color:#ef5c32}.theme-button.outline{border-color:#ef5c32}#searchform-dropdown{border-color:#ef5c32}.toggle-bar-btn:hover{border-top-color:#ef5c32;border-right-color:#ef5c32}body #site-navigation-wrap.nav-dropdown-top-border .dropdown-menu >li >ul{border-top-color:#ef5c32}/*TYPOGRAPHY*/body{font-family:Roboto;font-size:16px;color:#444444}#site-logo a.site-logo-text{font-weight:300}#site-navigation .dropdown-menu a{font-size:16px}h1,h2,h3,h4,h5,h6,.theme-heading,.page-header-title,.heading-typography,.widget-title,.wpex-widget-recent-posts-title,.comment-reply-title,.vcex-heading,.entry-title,.sidebar-box .widget-title,.search-entry h2{font-family:Roboto Slab}/*ADVANCED STYLING CSS*/.is-sticky #site-header{border-color:transparent}/*CUSTOMIZER STYLING*/a,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.entry-title a:hover{color:#ef5c32}a:hover{color:#f38261}.theme-button,input[type="submit"],button{color:#ffffff;background:#ef5c32}.navbar-style-one .menu-button >a >span.link-inner:hover{color:#ffffff;color:#ffffff;background:#ef5c32;background:#f38261}.theme-button:hover,input[type="submit"]:hover,button:hover{color:#ffffff;background:#f38261}#site-header{background-color:#000000}.wpex-sticky-header-holder{background-color:#000000;background-color:#000000}.wpex-sticky-header-holder.is-sticky #site-header{background-color:#000000}#site-header.wpex-shrink-sticky-header{background-color:#000000}.footer-has-reveal #site-header{background-color:#000000}#searchform-header-replace{background-color:#000000}body.wpex-has-vertical-header #site-header{background-color:#000000}#site-logo a.site-logo-text{color:#ffffff}#site-navigation .dropdown-menu >li >a{color:#9e9e9e}#site-navigation .dropdown-menu >li >a:hover{color:#ef5c32}#site-navigation .dropdown-menu >.current-menu-item >a,#site-navigation .dropdown-menu >.current-menu-parent >a,#site-navigation .dropdown-menu >.current-menu-item >a:hover,#site-navigation .dropdown-menu >.current-menu-parent >a:hover{color:#ef5c32}#mobile-menu a{color:#ffffff;background:#ef5c32;border-color:#ef5c32}#mobile-menu a:hover{color:#ffffff;background:#ef4415;border-color:#ef5c32}.mobile-toggle-nav{background:#000000}.wpex-mobile-toggle-menu-fixed_top .mobile-toggle-nav{background:#000000}.mobile-toggle-nav a{border-color:#2d2d2d;color:#828282}.wpex-mobile-toggle-menu-fixed_top .mobile-toggle-nav a{border-color:#2d2d2d;color:#828282}.mobile-toggle-nav a:hover{color:#ffffff}.wpex-mobile-toggle-menu-fixed_top .mobile-toggle-nav a:hover{color:#ffffff}.wpex-vc-column-wrapper{margin-bottom:40px}label{color:Post Series}
  </style>

  {{wp_head}}

  {# Browser Update
  ================================================== #}
  <script> 
  var $buoop = {c:2}; 
  function $buo_f(){ 
   var e = document.createElement("script"); 
   e.src = "//browser-update.org/update.js"; 
   document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script> 
</head>

<body class="wpex-theme wpex-responsive full-width-main-layout skin-base has-composer wpex-live-site content-full-screen has-breadcrumbs breadcrumbs-position-default sidebar-widget-icons no-header-margin page-header-disabled wpex-mobile-toggle-menu-icon_buttons has-mobile-menu wpb-js-composer js-comp-ver-4.11.1 vc_responsive">

  <div id="outer-wrap" class="clr">


      <div id="wrap" class="clr">



          <header id="site-header" class="header-one fixed-scroll clr" itemscope="itemscope" itemtype="http://schema.org/WPHeader">


              <div id="site-header-inner" class="container clr">


                  <div id="site-logo" class="site-branding clr header-one-logo">
                      <div id="site-logo-inner" class="clr">
                          <a href="{{ site.url }}" title="N&A" rel="home" class="site-logo-text">
                            <span id="site-logo-fa-icon" class="fa fa-bolt"></span>N&A
                          </a>
                      </div>
                      <!-- #site-logo-inner -->
                  </div>
                  <!-- #site-logo -->

                  <div id="site-navigation-wrap" class="navbar-style-one wpex-dropdowns-caret clr">
                    <nav id="site-navigation" class="navigation main-navigation clr" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                      {{ macros.menu(site.menu.header.get_items, 'dropdown-menu sf-menu') }}
                    </nav>
                    {# site-navigation #}
                  </div>
                  {# site-navigation-wrap  #}



                  <div id="mobile-menu" class="clr wpex-mobile-menu-toggle wpex-hidden">
                      <a href="#" class="mobile-menu-toggle"><span class="fa fa-navicon"></span></a>
                  </div>
                  <!-- #mobile-menu -->
              </div>
              <!-- #site-header-inner -->


          </header>
          <!-- #header -->



          <main id="main" class="site-main clr" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/WebPageElement">


              <div id="content-wrap" class="container clr">


                  <div id="primary" class="content-area clr">


                      <div id="content" class="site-content clr">



                          <article class="wpex-clr">


                              <div class="entry-content entry clr">


                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid vc_custom_1444181465454 vc_row-o-full-height vc_row-o-columns-middle vc_row-flex typography-white">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="vcex-heading vcex-heading-plain wpex-responsive-txt" style="color:#ffffff;font-size:62px;text-align:center;" data-max-font-size="62" data-min-font-size="42"><span class="vcex-heading-inner clr">WE ARE AWESOME</span></div>
                                                              <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-bottom:25px;border-top-width:3px;border-color:#ef5c32;"></div>
                                                              <div class="vcex-heading vcex-heading-plain" style="color:#ffffff;font-size:18px;text-align:center;"><span class="vcex-heading-inner clr">BECAUSE WE'RE THE BEST AT WHAT WE DO</span></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

                                      <div data-ls_id="#home-about" class="vc_row wpb_row vc_row-fluid vc_custom_1444181632261">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <h2 style="font-size: 32px;text-align: center;font-family:Roboto Slab;font-weight:400;font-style:normal" class="vc_custom_heading">About Us</h2>
                                                              <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;margin-bottom:25px;border-top-width:3px;border-color:#ef5c32;"></div>
                                                              <div class="wpb_text_column wpb_content_element ">
                                                                  <div class="wpb_wrapper">
                                                                      <p style="text-align: center;">Carrot cake cupcake tart cotton candy gingerbread. Fruitcake dragée ice cream jelly beans. Danish cookie toffee. Cotton candy icing unerdwear.com chocolate bear claw danish. Gummi bears carrot cake macaroon gummies. Powder jelly cheesecake sweet roll tiramisu. Dragée oat cake halvah gummies jelly beans jujubes. Bear claw gummies pastry jujubes halvah fruitcake donut. Caramels donut candy bonbon carrot cake toffee caramels dessert oat cake.</p>

                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid" style="padding-top: 200px;padding-bottom: 200px;background-image: url(http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/desk1d.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">


                                          <div class="wpex-vc-columns-wrap clr">
                                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                                  <div class="vc_column-inner wpex-clr">
                                                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                          <div class="wpb_single_image wpb_content_element vc_align_center">
                                                              <div class="wpb_wrapper">

                                                                  <a class="wpex-lightbox" data-type="iframe" data-options="width:1920,height:1080" title="play-w" href="//player.vimeo.com/video/87701971" target="_self">
                                                                      <div class="vc_single_image-wrapper"><img width="128" height="128" src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/play-w.png" class="vc_single_image-img attachment-full" alt="play-w" /></div>
                                                                  </a>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- .wpex-vc-columns-wrap -->




                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

                                      <div data-ls_id="#home-services" class="vc_row wpb_row vc_row-fluid vc_custom_1444182003655">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <h2 style="font-size: 32px;text-align: center;font-family:Roboto Slab;font-weight:400;font-style:normal" class="vc_custom_heading">Services</h2>
                                                              <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;margin-bottom:25px;border-top-width:3px;border-color:#ef5c32;"></div>
                                                              <div class="wpb_text_column wpb_content_element ">
                                                                  <div class="wpb_wrapper">
                                                                      <p style="text-align: center;">Muffin tiramisu gummi bears chupa chups sweet roll muffin oat cake lollipop sweet. Icing marshmallow muffin. Marshmallow dragée pudding sesame snaps muffin. Marshmallow chocolate cake pastry jelly-o macaroon. Chocolate bar donut powder wafer powder chocolate bar soufflé bear claw. Powder jujubes sweet bear claw brownie gummies pudding halvah liquorice. Marzipan fruitcake bonbon jelly-o cheesecake.</p>

                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-vc-has-custom-column-spacing wpex-vc-column-spacing-30 wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid" style="padding-bottom: 40px;">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="vcex-icon-box clr vcex-icon-box-four" style="border-color:#dddddd;">



                                                                  <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/design.png" alt="DESIGN" class="vcex-icon-box-image" />



                                                                  <h2 class="vcex-icon-box-heading" style="letter-spacing:1px;">
        DESIGN    </h2>




                                                                  <div class="vcex-icon-box-content clr">
                                                                      <p>Chocolate bar cotton candy jujubes jelly beans dessert cheesecake chocolate cake. Gingerbread jelly halvah wafer topping sugar plum. Chocolate cake lemon drops jujubes chocolate bar tootsie roll. Cherry pie bear claw cupcake.</p>
                                                                  </div>
                                                                  <!-- .vcex-icon-box-content -->



                                                              </div>
                                                              <!-- .vcex-icon-box -->


                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="vcex-icon-box clr vcex-icon-box-four" style="border-color:#dddddd;">



                                                                  <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/website.png" alt="DEVELOPMENT" class="vcex-icon-box-image" />



                                                                  <h2 class="vcex-icon-box-heading" style="letter-spacing:1px;">
        DEVELOPMENT   </h2>




                                                                  <div class="vcex-icon-box-content clr">
                                                                      <p>Chupa chups cake chupa chups brownie. Fruitcake bear claw halvah crumb soufflé cupcake marzipan. Chocolate apple pie soufflé danish tootsie roll. Candy canes gummi bears marshmallow. Tart cake carrot cake pudding.</p>
                                                                  </div>
                                                                  <!-- .vcex-icon-box-content -->



                                                              </div>
                                                              <!-- .vcex-icon-box -->


                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="vcex-icon-box clr vcex-icon-box-four" style="border-color:#dddddd;">



                                                                  <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/commerce.png" alt="E-COMMERCE" class="vcex-icon-box-image" />



                                                                  <h2 class="vcex-icon-box-heading" style="letter-spacing:1px;">
        E-COMMERCE    </h2>




                                                                  <div class="vcex-icon-box-content clr">
                                                                      <p>Cheesecake cupcake chupa chups icing tiramisu apple pie. Bonbon gummies gummi bears cookie gummies brownie. Jelly beans bonbon chocolate. Topping cupcake sugar plum jujubes chupa chups pastry bonbon topping.</p>
                                                                  </div>
                                                                  <!-- .vcex-icon-box-content -->



                                                              </div>
                                                              <!-- .vcex-icon-box -->


                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid typography-light" style="padding-top: 100px;padding-bottom: 50px;background-color: #ef5c32;">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="textcenter theme-button-wrap clr">
                                                                  <a href="#home-contact" class="vcex-button theme-button outline white small align-center animate-on-hover local-scroll-link" title="Contact Us For A Quote" style="font-size:16px;font-weight:400;letter-spacing:1.5px;">
                                                                      <span class="theme-button-inner">CONTACT US FOR A QUOTE</span>
                                                                      <!-- .theme-button-inner -->
                                                                  </a>
                                                                  <!-- vcex-button theme-button outline white small align-center animate-on-hover local-scroll-link -->
                                                              </div>
                                                              <!-- textcenter theme-button-wrap clr -->
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

                                      <div data-ls_id="#home-projects" class="vc_row wpb_row vc_row-fluid vc_custom_1444182009583">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <h2 style="font-size: 32px;text-align: center;font-family:Roboto Slab;font-weight:400;font-style:normal" class="vc_custom_heading">Projects</h2>
                                                              <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;margin-bottom:25px;border-top-width:3px;border-color:#ef5c32;"></div>
                                                              <div class="wpb_text_column wpb_content_element ">
                                                                  <div class="wpb_wrapper">
                                                                      <p style="text-align: center;">Icing ice cream bonbon wafer brownie powder chocolate bar. Icing jujubes pie cupcake chocolate sweet roll soufflé liquorice liquorice. Topping chocolate bar macaroon sugar plum pie cheesecake pastry sweet. Sweet roll toffee candy canes unerdwear.com sugar plum sweet jelly-o icing fruitcake. Chocolate liquorice soufflé liquorice wafer lemon drops. Pastry cupcake donut chocolate bar gummies cake cheesecake tart jelly gummi bears pudding candy topping.</p>

                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr">

                                      <div class="vc_row wpb_row vc_row-fluid">


                                          <div class="wpex-vc-columns-wrap clr">
                                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                                  <div class="vc_column-inner wpex-clr">
                                                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                          <div class="wpex-carousel wpex-carousel-images clr owl-carousel no-margins" data-items="5" data-slideby="1" data-nav="false" data-dots="true" data-autoplay="false" data-loop="true" data-autoplay-timeout="5000" data-center="false" data-margin="0" data-items-tablet="3" data-items-mobile-landscape="2" data-items-mobile-portrait="1" data-smart-speed="150">


                                                              <div class="wpex-carousel-slide">

                                                                  <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                                                      <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo1.jpg" title="photo1" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo1-500x400.jpg" width="500" height="400" alt="Photo1" /> </a>
                                                                      <!-- .wpex-carousel-entry-img -->



                                                                  </div>
                                                                  <!-- .wpex-carousel-entry-media -->


                                                              </div>
                                                              <!-- .wpex-carousel-slide -->


                                                              <div class="wpex-carousel-slide">

                                                                  <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                                                      <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo2.jpg" title="photo2" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo2-500x400.jpg" width="500" height="400" alt="Photo2" /> </a>
                                                                      <!-- .wpex-carousel-entry-img -->



                                                                  </div>
                                                                  <!-- .wpex-carousel-entry-media -->


                                                              </div>
                                                              <!-- .wpex-carousel-slide -->


                                                              <div class="wpex-carousel-slide">

                                                                  <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                                                      <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo3.jpg" title="photo3" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo3-500x400.jpg" width="500" height="400" alt="Photo3" /> </a>
                                                                      <!-- .wpex-carousel-entry-img -->



                                                                  </div>
                                                                  <!-- .wpex-carousel-entry-media -->


                                                              </div>
                                                              <!-- .wpex-carousel-slide -->


                                                              <div class="wpex-carousel-slide">

                                                                  <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                                                      <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo4.jpg" title="photo4" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo4-500x400.jpg" width="500" height="400" alt="Photo4" /> </a>
                                                                      <!-- .wpex-carousel-entry-img -->



                                                                  </div>
                                                                  <!-- .wpex-carousel-entry-media -->


                                                              </div>
                                                              <!-- .wpex-carousel-slide -->


                                                              <div class="wpex-carousel-slide">

                                                                  <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                                                      <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo5.jpg" title="photo5" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo5-500x400.jpg" width="500" height="400" alt="Photo5" /> </a>
                                                                      <!-- .wpex-carousel-entry-img -->



                                                                  </div>
                                                                  <!-- .wpex-carousel-entry-media -->


                                                              </div>
                                                              <!-- .wpex-carousel-slide -->


                                                              <div class="wpex-carousel-slide">

                                                                  <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                                                      <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo6.jpg" title="photo6" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo6-500x400.jpg" width="500" height="400" alt="Photo6" /> </a>
                                                                      <!-- .wpex-carousel-entry-img -->



                                                                  </div>
                                                                  <!-- .wpex-carousel-entry-media -->


                                                              </div>
                                                              <!-- .wpex-carousel-slide -->


                                                              <div class="wpex-carousel-slide">

                                                                  <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                                                      <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo7.jpg" title="photo7" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo7-500x400.jpg" width="500" height="400" alt="Photo7" /> </a>
                                                                      <!-- .wpex-carousel-entry-img -->



                                                                  </div>
                                                                  <!-- .wpex-carousel-entry-media -->


                                                              </div>
                                                              <!-- .wpex-carousel-slide -->


                                                              <div class="wpex-carousel-slide">

                                                                  <div class="wpex-carousel-entry-media clr image-filter-grayscale">


                                                                      <a href="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo8.jpg" title="photo8" class="wpex-carousel-entry-img wpex-lightbox" data-type="image">
                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/photo8-500x400.jpg" width="500" height="400" alt="Photo8" /> </a>
                                                                      <!-- .wpex-carousel-entry-img -->



                                                                  </div>
                                                                  <!-- .wpex-carousel-entry-media -->


                                                              </div>
                                                              <!-- .wpex-carousel-slide -->


                                                          </div>
                                                          <!-- .wpex-carousel -->


                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <!-- .wpex-vc-columns-wrap -->




                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid" style="padding-top: 50px;padding-bottom: 50px;">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="textcenter theme-button-wrap clr">
                                                                  <a href="https://dribbble.com/aj-clarke" class="vcex-button theme-button outline small align-center animate-on-hover" title="More On Dribbble" style="font-size:16px;font-weight:400;letter-spacing:1.5px;" target="_blank" rel="nofollow">
                                                                      <span class="theme-button-inner">MORE ON DRIBBBLE</span>
                                                                      <!-- .theme-button-inner -->
                                                                  </a>
                                                                  <!-- vcex-button theme-button outline small align-center animate-on-hover -->
                                                              </div>
                                                              <!-- textcenter theme-button-wrap clr -->
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid typography-white" style="padding-top: 75px;padding-bottom: 25px;background: #777777 url(http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/desk2d.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <h2 style="font-size: 32px;color: #ffffff;text-align: center;font-family:Roboto Slab;font-weight:400;font-style:normal" class="vc_custom_heading">Clientele</h2>
                                                              <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;margin-bottom:40px;border-top-width:3px;border-color:#ef5c32;"></div>

                                                              <div class="vcex-image-grid wpex-row clr grid-style-default">


                                                                  <div class="id-10 vcex-image-grid-entry span_1_of_4 col col-1">

                                                                      <figure class="vcex-image-grid-entry-img clr ">



                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/envato-500x150-175x53.png" width="175" height="53" alt="Envato-500&#215;150" />




                                                                      </figure>

                                                                  </div>
                                                                  <!--. vcex-image-grid-entry -->


                                                                  <div class="id-11 vcex-image-grid-entry span_1_of_4 col col-2">

                                                                      <figure class="vcex-image-grid-entry-img clr ">



                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/jquery-500x150-175x53.png" width="175" height="53" alt="Jquery-500&#215;150" />




                                                                      </figure>

                                                                  </div>
                                                                  <!--. vcex-image-grid-entry -->


                                                                  <div class="id-12 vcex-image-grid-entry span_1_of_4 col col-3">

                                                                      <figure class="vcex-image-grid-entry-img clr ">



                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/woocommerce-500x150-175x53.png" width="175" height="53" alt="Woocommerce-500&#215;150" />




                                                                      </figure>

                                                                  </div>
                                                                  <!--. vcex-image-grid-entry -->


                                                                  <div class="id-13 vcex-image-grid-entry span_1_of_4 col col-4">

                                                                      <figure class="vcex-image-grid-entry-img clr ">



                                                                          <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/bbpress-500x150-175x53.png" width="175" height="53" alt="Bbpress-500&#215;150" />




                                                                      </figure>

                                                                  </div>
                                                                  <!--. vcex-image-grid-entry -->


                                                              </div>
                                                              <!-- .vcex-image-grid -->





                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

                                      <div data-ls_id="#home-team" class="vc_row wpb_row vc_row-fluid vc_custom_1444182072304">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <h2 style="font-size: 32px;text-align: center;font-family:Roboto Slab;font-weight:400;font-style:normal" class="vc_custom_heading">The Team</h2>
                                                              <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;margin-bottom:25px;border-top-width:3px;border-color:#ef5c32;"></div>
                                                              <div class="wpb_text_column wpb_content_element ">
                                                                  <div class="wpb_wrapper">
                                                                      <p style="text-align: center;">Sesame snaps caramels cheesecake jelly-o. Gummies bonbon cookie apple pie caramels. Carrot cake applicake candy lollipop chupa chups sweet roll muffin macaroon. Unerdwear.com ice cream chocolate jelly jelly gummies bear claw. Tootsie roll liquorice cupcake bonbon soufflé brownie applicake candy canes candy. Sesame snaps cotton candy candy gummies candy croissant fruitcake tootsie roll. Liquorice dragée gummi bears marshmallow liquorice.</p>

                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-vc-has-custom-column-spacing wpex-vc-column-spacing-30 wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid" style="padding-bottom: 40px;">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="vcex-icon-box clr vcex-icon-box-four" style="border-color:#dddddd;">



                                                                  <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/dude.png" alt="BRADLEY/founder" class="vcex-icon-box-image" width="150" style="width:150px;" />



                                                                  <h2 class="vcex-icon-box-heading" style="font-weight:400;">
        BRADLEY/founder   </h2>




                                                                  <div class="vcex-icon-box-content clr">
                                                                      <p>Chocolate bar cotton candy jujubes jelly beans dessert cheesecake chocolate cake. Gingerbread jelly topping.</p>
                                                                  </div>
                                                                  <!-- .vcex-icon-box-content -->



                                                              </div>
                                                              <!-- .vcex-icon-box -->


                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="vcex-icon-box clr vcex-icon-box-four" style="border-color:#dddddd;">



                                                                  <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/girl.png" alt="LISA/marketing" class="vcex-icon-box-image" width="150" style="width:150px;" />



                                                                  <h2 class="vcex-icon-box-heading">
        LISA/marketing    </h2>




                                                                  <div class="vcex-icon-box-content clr">
                                                                      <p>Chupa chups cake chupa chups brownie. Fruitcake bear claw halvah candy canes cupcake marzipan apple pie soufflé.</p>
                                                                  </div>
                                                                  <!-- .vcex-icon-box-content -->



                                                              </div>
                                                              <!-- .vcex-icon-box -->


                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="wpb_column vc_column_container vc_col-sm-4">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="vcex-icon-box clr vcex-icon-box-four" style="border-color:#dddddd;">



                                                                  <img src="http://totaltheme.wpengine.com/freelancer/wp-content/uploads/sites/22/2015/01/guy.png" alt="ADAM/developer" class="vcex-icon-box-image" width="150" style="width:150px;" />



                                                                  <h2 class="vcex-icon-box-heading">
        ADAM/developer    </h2>




                                                                  <div class="vcex-icon-box-content clr">
                                                                      <p>Cheesecake cupcake chupa chups icing tiramisu apple pie. Bonbon sour gummi bears cookie caramel brownies.</p>
                                                                  </div>
                                                                  <!-- .vcex-icon-box-content -->



                                                              </div>
                                                              <!-- .vcex-icon-box -->


                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

                                      <div data-ls_id="#home-testimonials" class="vc_row wpb_row vc_row-fluid vc_custom_1444182103005 typography-white">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <h2 style="font-size: 32px;color: #ffffff;text-align: center;font-family:Roboto Slab;font-weight:400;font-style:normal" class="vc_custom_heading">Testimonials</h2>
                                                              <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;margin-bottom:20px;border-top-width:3px;border-color:#ef5c32;"></div>
                                                              <div class="vcex-testimonials-fullslider vcex-flexslider-wrap wpex-fs-21px light-skin" style="padding-top:25px;">

                                                                  <div class="wpex-slider slider-pro" data-dots="true" data-fade-arrows="false" data-loop="true" data-arrows="false" data-animation-speed="600" data-thumbnail-height="50" data-thumbnail-width="50">

                                                                      <div class="wpex-slider-slides sp-slides">


                                                                          <div class="wpex-slider-slide sp-slide">

                                                                              <div class="vcex-testimonials-fullslider-inner textcenter clr">



                                                                                  <div class="entry remove-last-p-margin wpex-fw-300 clr">
                                                                                      <p>Dessert dessert topping. Chocolate bar tootsie roll candy cotton candy cookie sweet bonbon lemon drops. Toffee dragée bonbon. Gingerbread soufflé sweet roll unerdwear.com cheesecake dragée gummies caramels.</p>
                                                                                  </div>


                                                                                  <div class="vcex-testimonials-fullslider-author wpex-fs-14px clr">

                                                                                      LANDON

                                                                                  </div>
                                                                                  <!-- .vcex-testimonials-fullslider-author -->


                                                                              </div>
                                                                              <!-- .entry -->

                                                                          </div>
                                                                          <!-- .wpex-slider-slide sp-slide -->



                                                                          <div class="wpex-slider-slide sp-slide">

                                                                              <div class="vcex-testimonials-fullslider-inner textcenter clr">



                                                                                  <div class="entry remove-last-p-margin wpex-fw-300 clr">
                                                                                      <p>Lollipop biscuit gummies cotton candy cheesecake. Jelly-o chocolate cake soufflé oat cake lemon drops muffin. Sesame snaps sweet roll croissant&#8230; Topping lollipop marshmallow sugar plum sweet roll muffin cookie!!!</p>
                                                                                  </div>


                                                                                  <div class="vcex-testimonials-fullslider-author wpex-fs-14px clr">

                                                                                      CHRISTINE

                                                                                  </div>
                                                                                  <!-- .vcex-testimonials-fullslider-author -->


                                                                              </div>
                                                                              <!-- .entry -->

                                                                          </div>
                                                                          <!-- .wpex-slider-slide sp-slide -->



                                                                          <div class="wpex-slider-slide sp-slide">

                                                                              <div class="vcex-testimonials-fullslider-inner textcenter clr">



                                                                                  <div class="entry remove-last-p-margin wpex-fw-300 clr">
                                                                                      <p>Pudding muffin unerdwear.com caramels! Gummies jelly carrot cake cake cookie lollipop jelly-o chocolate cake cupcake. Carrot cake tiramisu macaroon bear claw tootsie roll sesame snaps toffee!</p>
                                                                                  </div>


                                                                                  <div class="vcex-testimonials-fullslider-author wpex-fs-14px clr">

                                                                                      VINCENT

                                                                                  </div>
                                                                                  <!-- .vcex-testimonials-fullslider-author -->


                                                                              </div>
                                                                              <!-- .entry -->

                                                                          </div>
                                                                          <!-- .wpex-slider-slide sp-slide -->



                                                                      </div>
                                                                      <!-- .wpex-slider-slides -->


                                                                  </div>
                                                                  <!-- .wpex-slider -->

                                                              </div>
                                                              <!-- .vcex-testimonials-fullslider -->


                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

                                      <div data-ls_id="#home-contact" class="vc_row wpb_row vc_row-fluid vc_custom_1444182016569">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="wpb_text_column wpb_content_element ">
                                                                  <div class="wpb_wrapper">
                                                                      <p style="text-align: center;"><span style="font-size: 24px;">CONTACT US</span></p>

                                                                  </div>
                                                              </div>
                                                              <div class="vcex-divider vcex-divider-solid" style="width:10%;margin-top:15px;border-top-width:3px;border-color:#ef5c32;"></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered">

                                      <div class="vc_row wpb_row vc_row-fluid vc_custom_1441587485851">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-3">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="wpb_text_column wpb_content_element ">
                                                                  <div class="wpb_wrapper">
                                                                      <p><span style="font-size: 18px;">WHERE TO FIND US</span></p>
                                                                      <p><em>555 West Main Street</em><br />
                                                                          <em> Anytown, USA 12345</em></p>

                                                                  </div>
                                                              </div>

                                                              <div class="vcex-spacing" style="height:25px"></div>
                                                              <div class="vcex-list_item">


                                                                  <div class="vcex-icon-wrap" style="color:#ef5c32;"><span class="fa fa-phone"></span></div>(800) 555-5555
                                                              </div>
                                                              <!-- .vcex-list_item -->
                                                              <div class="vcex-spacing" style="height:5px"></div>
                                                              <div class="vcex-list_item">


                                                                  <div class="vcex-icon-wrap" style="color:#ef5c32;"><span class="fa fa-fax"></span></div>(800) 444-4444
                                                              </div>
                                                              <!-- .vcex-list_item -->
                                                              <div class="vcex-spacing" style="height:5px"></div>
                                                              <div class="vcex-list_item">


                                                                  <div class="vcex-icon-wrap" style="color:#ef5c32;"><span class="fa fa-envelope"></span></div>example@example.com
                                                              </div>
                                                              <!-- .vcex-list_item -->
                                                              <div class="vcex-spacing" style="height:25px"></div>
                                                              <div class="wpex-social-btns" style="font-size:13px;">



                                                                  <a href="https://twitter.com/WPExplorer" class="wpex-social-btn wpex-social-btn-flat wpex-semi-rounded wpex-twitter"><span class="fa fa-twitter"></span></a>





                                                                  <a href="https://dribbble.com/aj-clarke" class="wpex-social-btn wpex-social-btn-flat wpex-semi-rounded wpex-pinterest"><span class="fa fa-pinterest"></span></a>





                                                                  <a href="https://github.com/wpexplorer/" class="wpex-social-btn wpex-social-btn-flat wpex-semi-rounded wpex-github"><span class="fa fa-github-alt"></span></a>





                                                                  <a href="mailto:email@site.com" class="wpex-social-btn wpex-social-btn-flat wpex-semi-rounded wpex-email"><span class="fa fa-envelope"></span></a>



                                                              </div>
                                                              <!-- .wpex-social-btns -->
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="wpb_column vc_column_container vc_col-sm-9">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div role="form" class="wpcf7" id="wpcf7-f4-p2-o1" lang="en-US" dir="ltr">
                                                                  <div class="screen-reader-response"></div>
                                                                  <form action="/freelancer/#wpcf7-f4-p2-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                                      <div style="display: none;">
                                                                          <input type="hidden" name="_wpcf7" value="4" />
                                                                          <input type="hidden" name="_wpcf7_version" value="4.4.1" />
                                                                          <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                          <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p2-o1" />
                                                                          <input type="hidden" name="_wpnonce" value="a4d2ed9ed9" />
                                                                      </div>
                                                                      <p class="one-half first"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="Your Name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></p>
                                                                      <p class="one-half"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="Your Email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span></p>
                                                                      <p class="one-half first"><span class="wpcf7-form-control-wrap your-tel"><input type="tel" name="your-tel" value="Your Phone Number" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" /></span></p>
                                                                      <p class="one-half"><span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="Message Subject" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></p>
                                                                      <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false">Type Your Message Here...</textarea></span> </p>
                                                                      <p><input type="submit" value="Submit Form" class="wpcf7-form-control wpcf7-submit" /></p>
                                                                      <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                                  </form>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid typography-light" style="padding-top: 100px;padding-bottom: 50px;background-color: #333333;">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr ">
                                                              <div class="textcenter theme-button-wrap clr">
                                                                  <a href="http://themeforest.net/item/total-responsive-multipurpose-wordpress-theme/6339019?ref=wpexplorer" class="vcex-button theme-button outline white align-center animate-on-hover wpex-data-hover" title="Buy Total Today" style="font-size:16px;font-weight:400;letter-spacing:1.5px;" target="_blank" rel="nofollow" data-hover-background="#ef5c32" data-hover-color="#ffffff">
                                                                      <span class="theme-button-inner">BUILD YOUR OWN FREELANCER WEBSITE TODAY</span>
                                                                      <!-- .theme-button-inner -->
                                                                  </a>
                                                                  <!-- vcex-button theme-button outline white align-center animate-on-hover wpex-data-hover -->
                                                              </div>
                                                              <!-- textcenter theme-button-wrap clr -->
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->
                                  <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

                                      <div class="vc_row wpb_row vc_row-fluid typography-white" style="padding-top: 25px;padding-bottom: 25px;background-color: #222222;">

                                          <div class="container center-row clr">

                                              <div class="wpex-vc-columns-wrap clr">
                                                  <div class="wpb_column vc_column_container vc_col-sm-12">
                                                      <div class="vc_column-inner wpex-clr">
                                                          <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr " style="margin-bottom: 0;">
                                                              <div class="wpb_text_column wpb_content_element ">
                                                                  <div class="wpb_wrapper">
                                                                      <p style="text-align: center;"><span style="font-size: 14px;">A <a title="Total WordPress Theme" href="http://themeforest.net/item/total-responsive-multipurpose-wordpress-theme/6339019?ref=wpexplorer" target="_blank">Total WordPress Theme</a> Creation © 2015</span></p>

                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <!-- .wpex-vc-columns-wrap -->

                                          </div>
                                          <!-- .container -->



                                      </div>


                                  </div>
                                  <!-- .wpex-vc-row-wrap -->


                              </div>
                              <!-- .entry-content -->


                          </article>
                          <!-- #post -->



                      </div>
                      <!-- #content -->


                  </div>
                  <!-- #primary -->


              </div>
              <!-- .container -->



          </main>
          <!-- #main-content -->


      </div>
      <!-- #wrap -->


  </div>
  <!-- .outer-wrap -->



  <div id="mobile-menu-search" class="clr wpex-hidden">
      <form method="get" action="http://totaltheme.wpengine.com/freelancer/" class="mobile-menu-searchform">
          <input type="search" name="s" autocomplete="off" placeholder="Search" />
          <button type="submit" class="searchform-submit">
        <span class="fa fa-search"></span>
      </button>
      </form>
  </div>
  <!-- .mobile-menu-search -->
  <a href="#" id="site-scroll-top"><span class="fa fa-chevron-up"></span></a>
  <link rel='stylesheet' id='vc_google_fonts_roboto_slab100300regular700-css' href='//fonts.googleapis.com/css?family=Roboto+Slab%3A100%2C300%2Cregular%2C700&#038;ver=4.4.2' type='text/css' media='all' />
  <link rel='stylesheet' id='wpex-ilightbox-minimal-css' href='http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/css/ilightbox/minimal/ilightbox-minimal-skin.css?ver=3.3.5' type='text/css' media='all' />
  <script type='text/javascript' src='http://totaltheme.wpengine.com/freelancer/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
  <script type='text/javascript'>
      /* <![CDATA[ */
      var _wpcf7 = {
          "loaderUrl": "http:\/\/totaltheme.wpengine.com\/freelancer\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
          "recaptchaEmpty": "Please verify that you are not a robot.",
          "sending": "Sending ...",
          "cached": "1"
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='http://totaltheme.wpengine.com/freelancer/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4.1'></script>
  <script type='text/javascript'>
      /* <![CDATA[ */
      var wpexLocalize = {
          "isRTL": "",
          "mainLayout": "full-width",
          "menuSearchStyle": "disabled",
          "hasStickyHeader": "1",
          "siteHeaderStyle": "one",
          "superfishDelay": "600",
          "superfishSpeed": "fast",
          "superfishSpeedOut": "fast",
          "mobileMenuStyle": "toggle",
          "localScrollUpdateHash": "1",
          "localScrollSpeed": "800",
          "windowScrollTopSpeed": "800",
          "carouselSpeed": "150",
          "customSelects": ".woocommerce-ordering .orderby, #dropdown_product_cat, .widget_categories select, .widget_archive select, #bbp_stick_topic_select, #bbp_topic_status_select, #bbp_destination_topic, .single-product .variations_form .variations select",
          "milestoneDecimalFormat": ",",
          "animateMobileToggle": "1",
          "hasStickyMobileHeader": "",
          "overlayHeaderStickyTop": "0",
          "stickyHeaderBreakPoint": "960",
          "iLightbox": {
              "auto": false,
              "skin": "minimal",
              "path": "horizontal",
              "controls": {
                  "arrows": true,
                  "thumbnail": true,
                  "fullscreen": true,
                  "mousewheel": false
              },
              "effects": {
                  "loadedFadeSpeed": 50,
                  "fadeSpeed": 500
              },
              "show": {
                  "title": true,
                  "speed": 200
              },
              "hide": {
                  "speed": 200
              },
              "overlay": {
                  "blur": true,
                  "opacity": 0.9
              },
              "social": {
                  "start": true,
                  "show": "mouseenter",
                  "hide": "mouseleave",
                  "buttons": false
              }
          }
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='http://totaltheme.wpengine.com/freelancer/wp-content/themes/Total/js/total-min.js?ver=3.3.5'></script>
  <script type='text/javascript' src='http://totaltheme.wpengine.com/freelancer/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=4.11.1'></script>  


{{wp_footer}}
</body>
</html>
