{% import 'views/macros.twig' as macros %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]--> <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]--> <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ fn('wp_title') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

  {# Favicons
  ================================================== #}
  <link rel="shortcut icon" href="{{ site.theme.link }}/assets/img/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/assets/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/assets/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.theme.link }}/assets/img/favicon/manifest.json">
  <link rel="mask-icon" href="{{ site.theme.link }}/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{ site.theme.link }}/assets/img/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--[if IE 8]><link href="{{ site.theme.link }}/assets/css/hack/ie8.css" media="screen"><![endif]-->
  <!--[if IE 9]><link href="{{ site.theme.link }}/assets/css/hack/ie9.css" media="screen"><![endif]-->
  <!--[if lte IE 9]><link href="{{ site.theme.link }}/assets/css/hack/lte_ie9.min.css" media="screen"><![endif]-->

  {{wp_head}}

  {# Browser Update
  ================================================== #}
  <script> 
  var $buoop = {c:2}; 
  function $buo_f(){ 
   var e = document.createElement("script"); 
   e.src = "//browser-update.org/update.js"; 
   document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script> 
</head>

<body class="wpex-theme wpex-responsive full-width-main-layout skin-base has-composer wpex-live-site content-full-screen has-breadcrumbs breadcrumbs-position-default sidebar-widget-icons no-header-margin page-header-disabled wpex-mobile-toggle-menu-icon_buttons has-mobile-menu wpb-js-composer js-comp-ver-4.11.1 vc_responsive">

<div id="outer-wrap" class="clr">
<div id="wrap" class="clr">
    
  <header id="site-header" class="header-one fixed-scroll clr" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div id="site-header-inner" class="container clr">
      <div id="site-logo" class="site-branding clr header-one-logo">
          {# <div id="site-logo-inner" class="clr">
              <a href="{{ site.url }}" title="N&A" rel="home" class="site-logo-text">
                <span id="site-logo-fa-icon" class="fa fa-bolt"></span>N&A
              </a>
          </div>
          <!-- #site-logo-inner --> #}
          <div id="site-logo-inner" class="clr">
              <a href="{{ site.url }}" title="N&A" rel="home" class="site-logo-text">
                <img src="{{site.theme.link}}/assets/img/logo-small.png" width="100" alt="" style="width:125px;">
              </a>
          </div>
          <!-- #site-logo-inner -->
      </div>
      <!-- #site-logo -->

      <div id="site-navigation-wrap" class="navbar-style-one wpex-dropdowns-caret clr">
        <nav id="site-navigation" class="navigation main-navigation clr" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
          {{ macros.menu(site.menu.header.get_items, 'dropdown-menu sf-menu') }}
        </nav>
        {# site-navigation #}
      </div>
      {# site-navigation-wrap  #}

      <div id="mobile-menu" class="clr wpex-mobile-menu-toggle wpex-hidden">
          <a href="#" class="mobile-menu-toggle"><span class="fa fa-navicon"></span></a>
      </div>
      <!-- #mobile-menu -->
    </div>
    <!-- #site-header-inner -->
  </header>

  <main id="main" class="site-main clr" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/WebPageElement">

    <div id="content-wrap" class="container clr">

      <div id="primary" class="content-area clr">

        <div id="content" class="site-content clr">

          <article class="wpex-clr">
            <div class="entry-content entry clr">

              {% block content %}{% endblock %}                              

              <div class="wpex-vc-row-wrap clr wpex-vc-row-centered wpex-offset-vc-15">

                  <div class="vc_row wpb_row vc_row-fluid typography-white" style="padding-top: 25px;padding-bottom: 25px;background-color: #222222;">

                      <div class="container center-row clr">

                          <div class="wpex-vc-columns-wrap clr">
                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                  <div class="vc_column-inner wpex-clr">
                                      <div class="wpb_wrapper wpex-vc-column-wrapper wpex-clr " style="margin-bottom: 0;">
                                          <div class="wpb_text_column wpb_content_element ">
                                              <div class="wpb_wrapper"> {{site.acf.rodape}}
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- .wpex-vc-columns-wrap -->

                      </div>
                      <!-- .container -->
                  </div>

              </div>
              {# ~ footer #}
            </div>
            {# ~ entry-content #}
          </article>

        </div>
        {# ~ content #}
      </div>
      {# ~ primary #}
    </div>
    {# ~ content-wrap #}
  </main>


</div>
<!-- #wrap -->
</div>
<!-- .outer-wrap -->

<a href="#" id="site-scroll-top"><span class="fa fa-chevron-up"></span></a>

{{wp_footer}}
</body>
</html>